<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.sldworks" publicKeyToken="7c4797c3e4eeac03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.2.0.63" newVersion="26.2.0.63" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.swpublished" publicKeyToken="89a97bdc5284e6d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.2.0.63" newVersion="26.2.0.63" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.swconst" publicKeyToken="19f43e188e4269d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.2.0.63" newVersion="26.2.0.63" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>