<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CodeStack.SwEx.AddIn" publicKeyToken="a46023996d4724e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="0.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CodeStack.SwEx.PMPage" publicKeyToken="a46023996d4724e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="0.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Xarial.VPages.Framework" publicKeyToken="6dcec729ca6a1943" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="0.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>