<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeStack.SwEx.AddIn" version="0.8.0" targetFramework="net461" />
  <package id="CodeStack.SwEx.Common" version="0.9.8" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
</packages>